{% extends 'base.html' %}
{% block title %}Anasayfa{% endblock %}
{% block content %}
<h1 class="text-center text-2xl">Contact</h1>
<div class="contact-details text-center align-items-center">
    <ul class="mt-3 mb-3">
        <li>Gmail : gokhanyilmazkisisel@gmail.com</li>
        <li>Instagram : <a class="text-blue-500" href="https://instagram.com/g0khanism" target="_blank">@g0khanism</a></li>
        <li>X : <a class="text-blue-500" href="https://x.com/gokhansamaa" target="_blank">@gokhansamaa</a></li>
        <li>Linkedin : <a class="text-blue-500" href="https://www.linkedin.com/in/gökhan-yılmaz-a141a6210/" target="_blank">Gökhan Yılmaz</a></li>
        <li>Github : <a class="text-blue-500" href="https://github.com/gokhanylmaz" target="_blank">gokhanylmaz</a></li>
    </ul>
</div>
{% endblock %}