<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--tailwind-->
    <script src="https://cdn.tailwindcss.com"></script>
    <!--icon-->
    <script src="https://kit.fontawesome.com/7103073f98.js" crossorigin="anonymous"></script>
    <title>Gökhan Yılmaz | {% block title %}{% endblock %}</title>
</head>
<body class="mx-12 md:mx-40 my-10  flex flex-col min-h-screen">
    {% include 'partials/_navbar.html' %}
    {% block content %}

    {% endblock %}
    {% include 'partials/_footer.html' %}
</body>
</html>